<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam nostrum voluptas eveniet velit culpa est ipsa expedita molestias vitae aliquid quod officia, temporibus dolorem facilis voluptates earum porro doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam nostrum voluptas eveniet velit culpa est ipsa expedita molestias vitae aliquid quod officia, temporibus dolorem facilis voluptates earum porro doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur ipsam nostrum voluptas eveniet velit culpa est ipsa expedita molestias vitae aliquid quod officia, temporibus dolorem facilis voluptates earum porro doloremque.</p>
    </div>
</body>

<%- include('./partials/footer.ejs') %>

</html>